
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Dan Crowley</h1>
        <p class="lead">I'm on a journey to become a Full Stack Customer Delight Engineer</p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2>More to come...</h2>
  </div>
</div>
