<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Dan Crowley</h1>
                <p class="lead">I'm on Full Stack Customer Delight Engineer journey</p>
            </div>
        </div>
    </div>
  <div class="row">
      <div class="col-lg-12">
          <h2>More to come...</h2>
      </div>
  </div>
</div>
